.customize-profile-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    width: 65%;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 3px rgb(6 182 212);
    overflow: hidden;
    background-color: #343434;
}

.customize-profile-header{
    display: flex;
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(to bottom right, #6495ED,#38bdf8,#06b6d4 );
}

.customize-profile-header-section1{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.back-to-settings-btn{
    background-color: rgb(243, 244, 246, 1);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
    font-size: 3rem;
    padding-right: 12px;
    border-radius: 0px 0px 35px 0px;
}

.back-to-settings-btn:hover{
    background-color: rgb(209, 213, 219, 1)
}

.customize-profile-header-section2{
    flex: 1;
    display: flex;
    justify-content: center;
}

.customize-profile-header-name{
    font-weight: 900;
    font-size: 2rem;
    color: black;
}

.customize-profile-header-section3{
    flex: 1;
    text-align: right;
}

.customize-profile-user-info{
    width: 100%;
}

.customize-profile-user-image{
    display: block;
    margin-right: 0;
    margin-left: auto;
    width: 30%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: -5px 3px 6px 2px #24282b;
}

.customize-profile-user-name{
    font-weight: 900;
    font-size: 1rem;
    color: black;
}

.customize-profile-user-email{
    font-weight: 900;
    font-size: 1rem;
    color: black;
}

.customization-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 3rem;
}

.customize-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.customize-profile-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.change-displayName{
    padding: 10px;
    margin-left: 1rem;
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.change-displayName:focus{
    background-color: #FAF9F6;
    color: black;
}

.change-displayName-btn{
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #6495ED;
    border: none;
    color: white;
    cursor: pointer;
}

.change-displayName-btn:hover{
    background-color: #7393B3;
}

.image-Card{
    width: 40%;
    padding: 50px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #EEEEEE,#FAF8F9,#FFFFFF );
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.change-img{
    width: 65%;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: -5px 3px 6px 2px #24282b;
    display: flex;
    align-self: center;
}

.change-img-btn{
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #6495ED;
    border: none;
    color: white;
    cursor: pointer;
}

.change-img-btn:hover{
    background-color: #7393B3;
}

.image-Card input{
    display: none;
}