.reset-password-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 45%;
    height: 45vh;
    border-radius: 15px;
    background-color: #343434;
}

.password-reset-form-header{
    text-align: center;
    margin-bottom: 5%;
}

.password-reset-form-header h1{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.reset-password-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input{
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.form-input:focus{
    background-color: #FAF9F6;
    color: black;
}

.form-error{
    color: red;
    font-weight: 500;
}

.reset-password-submit-btn{
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #6495ED;
    border: none;
    color: white;
    cursor: pointer;
}

.reset-password-submit-btn:hover{
    background-color: #7393B3;
}

.email-sent p{
    color: lime;
    font-weight: 500;
}

